body {background-color: black;}

h1 {font-family: garamond;font-size: 40px;color: #4f86f7}

p {font-family: garamond;font-size:20px; margin-top: 50px;margin-bottom: 50px;margin-right: 150px;margin-left: 150px;color: #4f86f7;}
